<h1 class="animated fadeIn fast">sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae impedit voluptatum fuga ullam nihil perspiciatis iusto aut, distinctio rem explicabo quaerat est recusandae, aperiam minima fugit dolore, optio accusamus sed nulla! Perspiciatis hic iure
    obcaecati dolore, rem ipsam ducimus tempora aperiam numquam quasi officiis sit, mollitia quidem doloribus! Eaque aliquam atque distinctio commodi, saepe nulla repellat ipsum odit quo ducimus?</p>